html * {
    font-family: 'Josefin Sans', sans-serif;
}

#heading {
    text-position: center;
    background-color: rgb(109, 194, 233);
    height: 450px;
    width: auto;

}

.navbar {
    margin: 0;
    background-color: white;
    color: white;
    border: none;
}

.nav {
    color: white;
}
