#illustration {
    text-position: center;
    background-color: rgb(109, 194, 233);
    height: 450px;
    width: auto;

}

.navbar {
    margin: 0;
    background-color: white;
    color: white;
    border: none;
}

.navbar .nav li a {
    color: #4f4f4f;
}

.navbar .nav li a:hover {
    color: #B4009E;
}

.navbar-inverse .navbar-toggle .icon-bar {
   background-color: #4f4f4f;
}

.navbar-collapse .navbar .nav li a {
    color: white;
}

p {
    font-size: 14px;
}

#illustration h1 {
   color: white;
   text-align:center;
   padding-top: 20px;
   font-size: 60px;
}

#illustration img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

ul.nav.navbar-nav {
    float: right;
}

.content-wrapper {
    margin: 0;
    width: auto;
    padding: 0 20px 0 20px;
}

.icon-img {
    float: left;
    margin-top: 20px;
    margin-right: 10px;
    clear: both;
}

.icon-content {
    height: 440px;
    margin: 20px 0 0 0;
    overflow: auto;
    display: block;
}

.icon-content p {
    margin: 20px 0 20px 0;
}

#stats img {
    padding-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#stats {
    text-align: center;
}

.icon-content h2 {
    margin-top: 0px;
}

.icon-content .btn-default {
    position: absolute;
    bottom: 0;
}

.btn-default {
    color: #FFFFFF;
    background-color: #B4009E;
    border: 0px;
    border-radius: 0px;
}

.btn-default:hover {
    border: none;
    background-color: #B4009E;
    color: #FFFFFF;
}

.well {
    border: none;
    border-radius: 0px;
    background-color: #EEEEEE;
}

.icon-content h2 {
    margin-top: 0px;
}

ul.nav.navbar-nav {
    float: right;
}

.navbar-bottom {
  margin border: solid;
  margin: 0 auto;
  background-color: #D2D2D2;
}

.navbar-nav > li {
  padding-left:15px;
  padding-right:15px;
  position: relative;
  font-size: 17px;
}

.navbar-nav > li#share {
  padding-top:16px;
}

blockquote {
    border-style:none;
}

blockquote p {
font-size: 1.11em;
margin: 0.25em 0;
padding: 0.25em 20px;
position: relative;
color: #505050;
}

blockquote p::before {
content: "\201C";
position: absolute;
left: -10px;
top: -10px;
}

blockquote p::after {
content: "\201D";
}

blockquote p::before, blockquote p::after {
    font-size:4em;
    line-height:1;
    position:absolute;
    color: lightgray;
}

blockquote cite {
color:  #737373 ;
font-size: 14px;
display: block;
text-transform:uppercase;
margin-top: 5px;
}

.meetPartnerBorder {
    background-color:#e3e3e3;
    border:1px solid #e3e3e3;
}

.h2Top {
    margin-top:0px;
    margin-bottom:20px;
    color:#337ab7;
}

.copyright{
  font-size: 14px;
  color: #FFFFFF !important;
}
