<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Small Business - Start Bootstrap Template</title>
    <!-- Bootstrap Core CSS -->
    <link href="/stylesheets/libraries/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/stylesheets/libraries/small-business.css" rel="stylesheet">
    <link href="/stylesheets/main.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img src="http://placehold.it/150x50&text=Logo" alt="">
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <h1>Industry Explorers</h1>
                    </li>
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">Applicants</a>
                    </li>
                    <li>
                        <a href="#">Partners</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">
        <!-- Content Row -->

        <!-- Just a heading -->
        <div class="row">
            <div class="col-lg-12">
                <div class="well text-left">
                    <h2>Meet our partners</h2>
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->

        <!-- Ada Developers Academy-->
        <div class="row">     
              <div class="col-lg-6">
                          
                <img src="http://placehold.it/250X400" alt="" />
                <blockquote>
                  <p>Women are underserved by traditional technology education in high school and college. Ada is a way for women to break into software development, raise their salaries, and contribute in meaningful ways to the future of tech.</p>
                  <cite>Elise Worthy, Ada Technical Director</cite>
                </blockquote>
            </div> <!-- end .col-6 -->
            <div class="col-lg-6">
                <h4>
                    Ada Developers Academy (Ada) is an intensive software developer training school for women. Ada's unique year-long program begins with seven months of classroom instruction in cutting-edge web technologies in which students learn the most up-to-date development skills from leading regional and national experts.
                </h4>
            </div> <!-- end .col-6 -->
        </div>        
        <!--Ada-->

        <!--Kal Academy-->
        <div class="row">
            <div class="col-lg-6">

                <img src="http://placehold.it/250X400" alt="" />
                <blockquote>
                    <p>Women are underserved by traditional technology education in high school and college. Ada is a way for women to break into software development, raise their salaries, and contribute in meaningful ways to the future of tech.</p>
                    <cite>Kal, Kal Academy Director</cite>
                </blockquote>
            </div> <!-- end .col-6 -->
            <div class="col-lg-6">
                <h4 class="media-heading">
                    Kal Academy is a non-profit organization that offers a unique, fun, and innovative approach to teaching code, math, and science with the goal to bring more women into the tech industry. We help you gain a strong skills foundation while making even difficult concepts fun and easy to learn.
                </h4>
            </div> <!-- end .col-6 -->
        </div>            
        <!--Kal-->
                
        <!-- Logo Row -->
        <div class="row">
            <div class="col-md-4">

            </div>
            <div class="col-md-4 logo">
                <img src="http://placehold.it/150x50&text=Kal Logo" alt="">
                <img src="http://placehold.it/150x50&text=AdaLogo" alt="">
            </div>
            <div class="col-md-4">

            </div>
        </div>
        <!--Logo Row-->

        <!--Form-->
        <div class="row">
            <div class="col-lg-4 well">
                <form role="form">
                    <div class="form-group">
                        <label for="orgname">Organization Name:</label>
                        <input type="text" class="form-control" id="orgname" placeholder="Enter oganization name">
                    </div>
                    <div class="form-group">
                        <label for="contactname">Contact Name:</label>
                        <input type="text" class="form-control" id="contactname" placeholder="Enter contact name">
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" class="form-control" id="email" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label for="website">Website:</label>
                        <input type="password" class="form-control" id="website" placeholder="Enter website">
                    </div>

                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>
        <!--Form End-->
        <!-- Footer -->
                <footer>
                    <div class="row">
                        <div class="col-lg-12">
                            <p>Copyright &copy; Your Website 2015 </p>
                        </div>
                    </div>
                </footer>
            </div>
            <!-- /.container -->
            <!-- jQuery -->
            <script src="/scripts/libraries/jquery.js"></script>
            <!-- Bootstrap Core JavaScript -->
            <script src="/scripts/libraries/bootstrap.min.js"></script>
</body>
</html>
